body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 30px;
  padding-bottom: 10px;
  border-left: 10px solid var(--primary-color);
  border-right: 10px solid var(--primary-color);
}

.intro_sec .text,
.intro_sec .h_bg-image {
  width: 50%;
}

@media (max-width:991.98px) {
  .intro_sec .text,
  .intro_sec .h_bg-image {
      width: 100%;
  }
}

.intro_sec .intro {
  max-width: 450px;
  margin: 0 auto;
}

@media (max-width:991.98px) {
  .intro_sec .intro {
      max-width: 700px;
      padding-left: 20px;
      padding-right: 20px;
  }
}

.intro_sec .text h1 {
  font-size: 30px;
  margin-bottom: 50px;
  font-weight: 700;
}

.intro_sec .h_bg-image {
  background-size: cover;
  background-position: center;
  min-height: 700px;
  position: relative;
}

@media (max-width:991.98px) {
  .intro_sec .h_bg-image {
      height: 600px;
      min-height: 75vh;
      margin-bottom: 30px;
  }
  .intro_sec .h_bg-image .block {
      top: unset;
      bottom: 0;
      width: 100%;
      margin: 0;
      left: 50%;
      transform: translate(-50%, 50%);
  }
}

.intro_sec .h_bg-image {
  filter: saturate(0.5);
}
